<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for @book, url: admin_books_path, html: {class: 'font_opensans form_register'} do |f| %>
        <div class="font_opensans font_size_20 text_align_center">Add new book</div>
        <br/>
        <%= render 'admin/shared/flash_book' %>
        <%= f.text_field :title, placeholder: 'Enter books title' %>

        <%= f.text_area :description, cols: 10, rows:10, placeholder: 'Enter books description' %>

        <%= f.text_field :price, placeholder: 'Enter books price' %>

        <%= f.text_field :in_stock, placeholder: 'Enter couns books' %>

        <%= f.file_field :image, multipart: true %>

        <%= f.label 'Change book category' %>
        <%= select_tag('book[category_id]', options_from_collection_for_select(@categories, :id, :title)) %>

        <%= f.label 'Change book author' %>
        <%= select_tag('book[author_id]', options_from_collection_for_select(@authors, :id, :firstname)) %>

        <%= f.submit 'Create a books', class: 'btn btn-large btn-register' %>
    <% end %>

  </div>
</div>
