<div class="container">
  <div class="col-md-12 font_size_14">
    <br/>
    <div class="font_opensans font_size_25">My wish list</div><br/>
    <%= link_to raw('<i class="glyphicon glyphicon-heart"> </i> Click for watching all users wish lists'), wish_lists_path, class: 'font_size_17' %>
    <hr>
    <br/>
    <% @books.each do |book| %>
        <div class="row container_profile font_size_17">
          <div class="col-md-11">
          <%= link_to image_tag(book.image, height: '70', width: '60') %>
          <%= link_to book.title, book, class: 'color_black font_sie_14' %> /
          <span class="color_slider_top font_weight_900">$<%= book.price %></span>
          </div>
            <div class="col-md-1">
              <%= link_to raw('<i class="glyphicon glyphicon-remove font_size_28 padding_top_20"> </i><br/>'), url_for(action: :destroy, id: book.id), method: :delete, data: {confirm: "Delete this books from wish list ?"} %>
            </div>
        </div>
    <% end %>
  </div>
</div>