<%= render 'admin/shared/flash_success' %>
<table class="table table-bordered table-hover font_opensans font_size_14 background_white">
  <caption>All orders</caption>
  <tr>
    <td>Price</td>
    <td>User</td>
    <td width="40%">Change Status</td>
  </tr>
  <% @orders.each do |order| %>
      <tr>
        <td><%= order.total_price %></td>
        <td><%= order.user.name %></td>
        <td>State: <%= order.state %>
          <hr/>
          <div class="row">
            <div class="col-md-6">
              <%= form_tag(admin_order_path(order), method: :patch) do %>
                  <%= submit_tag('Next status', class: "btn btn-large btn-register") %>
              <% end %>
            </div>
            <div class="col-md-6">
              <%= form_tag(admin_order_path(order), method: :patch) do %>
                  <%= hidden_field(:cancel, true) %>
                  <%= submit_tag('Cancelled', class: "btn btn-large btn-register") %>
                  </div>
                  </div>
              <% end %>
              </td>
      </tr>
  <% end %>
</table>