<div class="container">
<div class="col-md-12">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <div class="container_profile col-md-4 col-md-offset-4 font_size_17 text_align_center">
    <div class="color_slider_top font_size_25 text_align_center"><i class="glyphicon glyphicon-list-alt pull-left"> </i> Account information</div>
    <br/>
    <%= gravatar_for @user %>
    <%= @user.name %><br/><br/><br/>
    Email: <%= @user.email %><br/>
  </div>
</div>
</div>