<div class="col-md-8 col-md-offset-2">
  <div class="row">
    <%= form_tag wizard_path, method: :patch, class: 'font_opensans form_register' do %>
        <%= render partial: 'shared/error_order', locals:{ entity: [@billing_address, @shipping_address] }  %>
        <div class="col-md-5 col-md-offset-1">
          <div class="font_opensans font_size_17 text_align_center">Billing information</div>
          <br/>
          <%= fields_for :billing_address, @billing_address do |f| %>
              <%= render partial: 'shared/address_form', locals: {f: f} %>
          <% end %>
        </div>

        <div class="col-md-5">
          <div class="font_opensans font_size_17 text_align_center">Shipping information</div>
          <br/>
          <%= fields_for :shipping_address, @shipping_address do |f| %>
              <%= render partial: 'shared/address_form', locals: {f: f} %>
          <% end %>
        </div>
        <%= submit_tag 'Save and continue', class: 'btn btn-register' %>
    <% end %>
  </div>
</div>