<div class="col-md-12">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <%= form_for @address, url: order_path(current_user, step: 2), method: :patch, html: {class: 'font_opensans form_register'} do |f| %>
          <div class="font_opensans text_align_center font_weight_600">Fill address information</div><br/>

          <%= render 'shared/error_order', entity: @address %>

          <%= f.text_field :billing_address, value: get_session_value(:order_address, 'billing_address'), placeholder: 'Billing address' %>
          <%= f.text_field :shipping_address, value: get_session_value(:order_address, 'shipping_address'), placeholder: 'Shipping address' %>
          <%= f.text_field :city, value: get_session_value(:order_address, 'city'), placeholder: 'City' %>
          <%= f.text_field :phone, value: get_session_value(:order_address, 'phone'), placeholder: 'Phone' %>
          <%= f.text_field :zip, value: get_session_value(:order_address, 'zip'), placeholder: 'Zip' %>

          <%= f.submit 'Save and continue', class: 'btn btn-large btn-register' %>
      <% end %>

    </div>
  </div>
</div>