<div class="container">
  <div class="col-md-12">
    <div class="row font_opensans">
      <div class="font_weight_600 font_size_25 text_align_center">Confirm</div><hr/><br/>
      <div class="col-md-6">
        <table class="table table-bordered font_opensans background_white">
          <thead>
          <tr class="font_weight_600 background_white text_align_center">
            <td>IMAGE</td>
            <td>BOOK NAME</td>
            <td>QUANTITY</td>
            <td>UNIT PRICE</td>
          </tr>
          </thead>
          <% @cart.order_items.each do |item| %>
              <tr class="text_align_center">
                <td><%= link_to image_tag(item.book.cover, height: '70', width: '60') %></td>
                <td><%= link_to item.book.title, item.book, class: 'color_black font_sie_14' %></td>
                <td><%= item.quantity %></td>
                <td class="color_slider_top font_size_20 font_weight_900">$<%= item.book.price %></td>
              </tr>
          <% end %>
        </table>
      </div>
      <div class="col-md-6 background_white">
        <div class="row">
          <div class="col-md-6">
            <br/><span>Address information</span> <br/><span class="label label-success">Success</span>
            <div class="bs-callout bs-callout-info" id="callout-navs-tabs-plugin">
              Street address: <span class="color_slider_top font_weight_600"><%= @cart.address.street_address %></span><hr>
              City: <span class="color_slider_top font_weight_600"><%= @cart.address.city %></span><hr>
              Phone: <span class="color_slider_top font_weight_600"><%= @cart.address.phone %></span><hr>
              Zip: <span class="color_slider_top font_weight_600"><%= @cart.address.zip %></span><hr>
            </div>
            <div>Additional <%= @cart.delivery.price %>$ for delivery - <%= @cart.delivery.title %></div><br/>
          </div>
          <div class="col-md-6">
            <br/><span>Credit Card information</span> <br/><span class="label label-success">Success</span>
            <div class="bs-callout bs-callout-info" id="callout-navs-tabs-plugin">
              Number: <span class="color_slider_top font_weight_600"><%= @cart.credit_card.number %></span><hr>
              CVV: <span class="color_slider_top font_weight_600"><%= @cart.credit_card.CVV %></span><hr>
              First name: <span class="color_slider_top font_weight_600"><%= @cart.credit_card.first_name %></span><hr>
              Last name: <span class="color_slider_top font_weight_600"><%= @cart.credit_card.last_name %></span><hr>
            </div>
          </div>
        </div>

        <%= render 'shared/flash_success' %>

        <%= form_tag({ controller: :orders, action: :coupon }, method: :get, class: 'font_opensans form_register') do %>
            <%= text_field_tag(:coupon, nil, placeholder: 'Enter coupon code') %>
            <%= submit_tag 'Use coupon code' %>
        <% end %>

        <div class="text_align_center">
        Total price: <span class="color_slider_top font_weight_600 font_size_25"><%= @cart.total_price %>$</span><br/>
        <br/><br/>
          <%= link_to 'Create order', orders_path, method: :post, class: 'link_order' %>
          <br/><br/><br/>
        </div>
      </div>
    </div>
  </div>
</div>
