<div class="container all_books">
  <%= render 'shared/flash_success' %>
  <%#= render 'layouts/slider' %>
  <br/>
<div class="row books_preview">
  <% @books.each do |book| %>
      <div class="col-md-2 book_preview">
        <div class="height_225">
        <%= image_tag book.cover %>
        </div>
        <div class="text_align_center"><%= link_to book.title, book_path(book), class: 'font_opensans color_book_index font_weight_600' %></div>
        <hr>
        <span class="font_opensans color_slider_top font_size_20 font_weight_900"> $<%= book.price %></span>
        <%= already_in_cart book %>
      </div>
  <% end %>
</div>
  <%= will_paginate unless params[:category_id]  %>
</div>