<div class="container">
  <%= render 'shared/flash_success' %>
  <div class="row font_opensans">
    <div class="col-md-2">
      <%= link_to image_tag @book.image, height: 300, width: 250 %>
    </div>
    <div class="col-md-4 col-md-offset-1 padding_top_20">
      <span class="font_size_20">Description</span><br/>
      <%= @book.description %>
    </div>
    <div class="col-md-4 col-md-offset-1 padding_top_20">
      <span class="font_size_20"><%= @book.title %></span><br/>
      <span class="color_slider_top font_size_20 font_weight_900">$<%= @book.price %></span><br/>
      <hr>
      Available: <%= @book.in_stock %><br/>
      Category of book: <%= @book.category.title %><br/><br/>
      Author of book: <%= @book.author.firstname %> <%= @book.author.lastname %><br/>
      Number of pages: <%= @book.count_pages %><br/>
      Publication date: <%= @book.publication_date.strftime("%d %B %Y") %>
      <br/><br/>

      <div class="row">
        <div class="col-md-8">
          <%= link_to raw('<div class="color_white add_to_cart_button">
        <i class="glyphicon glyphicon-shopping-cart font_size_20"></i> Add to Cart
      </div>'), url_for(controller: :carts, action: :update, id: @book.id), method: :patch %>
        </div>
        <div class="col-md-4">
              <%= link_to raw('<div class="color_white add_to_cart_button">
        <i class="glyphicon glyphicon-heart font_size_20"></i>
      </div>'), url_for(controller: :wish_lists, action: :update, id: @book.id), method: :patch %>
        </div>
      </div>

        <br/>


      <div class="rating_book">
      <input id="rating_star_book" value="<%= @rating %>" data-book-id="<%= @book.id %>"
             data-user-id="<%= current_user.id %>" type="number" class="rating" min=0 max=10 step=1
             data-stars=10 data-size="lg" data-show-clear=false>
      </div>
      <br/>
    </div>
  </div>
  <br/>

  <div class="row font_size_17" style="background: #fff;padding:20px;">
    <span class="font_size_20">Reviews(<%= @review.count %>)</span><br/>
    <% @review.each do |rating| %>
        <div class="row">
        <div class="col-md-3 padding_top_20" style="font-size:0.3em;">
          <input id="rating_star_book" value="<%= rating.rating_number %>" data-book-id="<%= @book.id %>"
                 data-user-id="<%= current_user.id %>" type="number" class="rating" min=0 max=10 step=1
                 data-stars=10 data-size="lg" data-show-clear=false readonly>
          <span class="font_size_14 font_weight_600"><%= rating.user.name %> / <%= rating.created_at.strftime("%d %B %Y") %></span>
        </div>
        <div class="col-md-9 padding_top_20">
          <%= rating.review %>
        </div>
        </div>
    <% end %>
  </div>

  <div class="row text_align_center padding_top_20">
    <a class="font_size_20" data-toggle="collapse" href="#collapseExample">Write a review <span class="caret"></span></a>

    <%= form_tag(books_rate_book_path, class: 'collapse font_opensans', id: 'collapseExample') do %>
        <%= text_field_tag 'rate[book_id]', @book.id, style: 'visibility:hidden;' %>
        <%= text_field_tag 'rate[user_id]', current_user.id, style: 'visibility:hidden;' %>
        <%= text_area_tag 'rate[review]', nil, cols:10, rows:10, placeholder: 'Enter your review' %>
        <%= submit_tag 'Write a review', class: "btn btn-register col-md-4 col-md-offset-4" %>
    <% end %>

  </div>

</div>

<script>
    $(".rating").rating();
</script>