<div class="col-md-12 font_opensans padding_top_60">
  <hr>
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <h3>My account</h3>
      <% if user_signed_in? %>
              <%#= link_to "Profile", user_path(current_user) %><br/>
              <%= link_to "Settings", edit_user_password_path(current_user) %><br/>
              <%= link_to "Logout", destroy_user_session_path(current_user), method: :delete %>
      <% else %>
              <%= link_to "Register", new_user_registration_path %><br/>
              <%= link_to "Login", new_user_session_path %>
      <% end %>
    </div>
    <div class="col-md-2">
      <h3>My cart</h3>
      <%= link_to "Shopping cart", cart_items_path %>
    </div>
  </div>
  <br/><br/><br/>
</div>
