<div class="col-md-12">
  <div class="row padding_top_60">
    <div class="col-md-4 col-md-offset-1">
      <%= link_to image_tag("logo.png"), root_path %>
    </div>
    <div class="col-md-3 col-md-offset-1">
      <div style="font-weight:300;" class="font_size_20">
        <% if user_signed_in? %>
        <%= 'Welcome to BooksStore ' << current_user.name %><br/>
        <%= 'Account email: ' << current_user.email %><br/>
        <%= link_to 'Admin panel', admin_books_path %>
        <% end %>
      </div>
    </div>
    <div class="col-md-2">
      <%= link_to raw('<i class="glyphicon glyphicon-shopping-cart shop_cart"></i>'), cart_items_path %>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="row header-store">
    <div class="col-md-2 col-md-offset-1 font_size_17 font_opensans font_bold color_white padding_top_30 border_cat cursor_pointer category_name"
         data-toggle="dropdown" id="dLabel2">Categories
      <i class="glyphicon glyphicon-menu-hamburger font_size_20 padding_left_15 pull-right"> </i></div>

    <% if params[:controller] == 'books' && params[:action] == 'index' %>
    <ul class="dropdown-menu ul_categories font_opensans" aria-labelledby="dLabel2" style="margin-left:150px;color:black;">
      <% @categories.each do |category| %>
              <li class="category_id"><%= link_to category.title, "#", :'data-id' => category.id, :'data-title' => category.title %></li>
          <% end %>
    </ul>
    <% end %>

       <div class="col-md-6">
      <ul class="font_opensans color_white ul_header">
        <% if user_signed_in? %>
            <li><%= link_to 'My account', '#', id: 'dLabel', class: 'li_header_acc', :'data-toggle' => 'dropdown' %>
              <span class="caret"></span>
              <ul class="dropdown-menu" aria-labelledby="dLabel" style="margin-left:150px;color:black;">
                <%= link_to "Settings", edit_user_registration_path(current_user), id: 'user_settings' %><br/>
                <%= link_to "Logout", destroy_user_session_path(current_user), id:'logout', method: :delete %>
              </ul>
            </li>
        <% else %>
        <li><%= link_to 'My account', '#', id: 'dLabel', class: 'li_header_acc', :'data-toggle' => 'dropdown' %>
          <span class="caret"></span>
          <ul class="dropdown-menu" aria-labelledby="dLabel" style="margin-left:150px;color:black;">
            <%= link_to "Register", new_user_registration_path %><br/>
            <%= link_to "Login", new_user_session_path %><br/>
            <%= link_to "Login with Facebook", user_omniauth_authorize_path(:facebook) %>
          </ul>
        </li>
        <% end %>
        <li><%= link_to "Shopping cart", cart_items_path %></li>
        <li><%= link_to "Wish list", wish_lists_path if user_signed_in? %></li>
        <li><%= link_to "My orders", orders_path %></li>
      </ul>
    </div>

    <div class="col-md-2">
      <% if params[:controller] == 'books' && params[:action] == 'index' %>
      <%= form_tag({controller: 'books', action: 'index'}, method: 'get', class: 'font_opensans') do %>
          <%= radio_button_tag(:type, '1', true, class: 'width_15 font_weight_600') %>
          <%= label_tag(:book, 'book', class: 'color_white') %>
          <%= radio_button_tag(:type, '2', false, class: 'width_15') %>
          <%= label_tag(:author, 'author', class: 'color_white') %>
          <%= text_field_tag(:search, nil, class: 'search', placeholder: 'Search') %>
          <%= button_tag(type: 'submit', class: 'glyphicon glyphicon-search search_icon') do %>
          <% end %>
      <% end %>
          <% end %>
    </div>

  </div>
</div>
